@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;

  background: #FAFAFA;
}

.navbar {
  width: 1440px;
  height: 76.64px;
  background-color: #1ea4ce;
  display: flex;
  justify-content: space-evenly;
  
}

.navbar h1 {
  width: 141.25px;
  height: 40.32px;
  left: 651.07px;
  top: 17px;
 
  color: #ffffff;
  background-color: #1ea4ce;
}

.navbar .basket {
  left: 83.82%;
  right: 7.22%;
  top: 0%;
  bottom: 94.83%;
  width: 129px;
height: 76.64px;
background-color: #147594;
}

.navbar p {
  left: 87.71%;
right: 8.89%;
top: 2%;
bottom: 96.76%;

/* Body / Short 01 - SemiBold */

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
/* or 129% */

display: flex;
align-items: center;
letter-spacing: 0.16px;

color: #FFFFFF;
width: 49px;
height: 18.39px;
background-color: #147594;
}

.content {
  display: flex;
  justify-content: space-between;
}

.home {
  display: flex;
  flex-direction: column;
}

.item-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  width: 14px;
  height: 225px;
  flex: 20%;
}

.item-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.item-preview h3 {
  height: 40px;
left: 30.28%;
right: 61.11%;
top: 380px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* Grayscale / 700 */

color: #191919;
}

.item-preview p {
  height: 23px;
  left: 30.28%;
  right: 61.11%;
  top: 357px;
  
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  
  
  color: #1EA4CE;
}

.item-preview img {
  width: 92px;
height: 92px;
left: 452px;
top: 241px;
}

.item-preview button {
  width: 124px;
  height: 22px;
  left: 436px;
  top: 428px;

  background: #1ea4ce;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  color: #ffffff;
  border: #1ea4ce;
}

.productType {
  height: 30px;
}

.productType .links a:active {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;

  position: absolute;
  width: 60px;
  height: 30px;
  left: 416px;
  top: 157px;

  background: #1ea4ce;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  text-align: center;

  color: #f2f0fd;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.productType .links a:disabled {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px;
  gap: 10px;

  position: absolute;
  width: 61px;
  height: 30px;
  left: 484px;
  top: 157px;

  background: #f2f0fd;
  border-radius: 2px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */

  text-align: center;

  color: #1ea4ce;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gold;
}

.card {
  width: 24%;
  background: silver;
}
